{% extends 'base.html' %}

{% block content %}
    <div class="login-form col-lg-5">
        <form method="post" action="{% url 'signup' %}">

            {% include 'inc/form_errors.html' %}

            {% csrf_token %}
            <div class="mb-3">
                <label for="usernamefield" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="usernamefield" name="username">
            </div>
            <div class="mb-3">
                <label for="emailfield" class="form-label">Почта</label>
                <input type="text" class="form-control" id="emailfield" name="email">
            </div>
            <div class="mb-3">
                <label for="passwordfield1" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="passwordfield1" name="password1">
            </div>
            <div class="mb-3">
                <label for="passwordfield2" class="form-label">Подтвердите пароль</label>
                <input type="password" class="form-control" id="passwordfield2" name="password2">
            </div>
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </form>
    </div>
{% endblock %}





